<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<bean name="theEmployee" class="ibm.fsd.spring_demo_4th_aug_19.bean.Employee">
	     <constructor-arg name="firstName" value="Anuj"/>
	     <constructor-arg name="id" value="100"/>
	     <constructor-arg name="lastName" value="Singh"/>
	     <constructor-arg name="email" value="anuj0@gg.com"/>     
	</bean>
</beans>
